@using French.Erp.Application.DataObject;
@model ModelBasic<ServicoDto>
@{
    ViewData["Title"] = "Serviços";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewData["User"] = Model.Nome;
    ViewData["Admin"] = Model.Admin;
    ViewData["Role"] = Model.Role;
}
<div class="text-center">
    <h3 class="display-4">Serviços</h3>
</div>
<div class="text-end">
    <button type="button" id="botaoNovo" name="botaoNovo" class="btn btn-outline-success" onclick="Servico.novo();"><i class="fa fa-file"></i>&nbsp;Novo Serviço</button>
</div>
<br />
<div class="form-floating d-none" id="divNovo" name="divNovo">
    <div class="card">
        <div class="card-header bg-black text-white"><b>Novo Serviço</b></div>
        <div class="card-body">
            <div class="row" id="formNovo">
                <div class="col-5">
                    <div class="form-floating mb-3" data-parent="nome">
                        <input type="hidden" id="BancoId" name="BancoId" value="" />
                        <input type="text" id="Nome" name="Nome" value="" class="form-control" placeholder="Nome" />
                        <label for="Nome">Nome</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3" data-parent="descricao">
                        <input type="text" id="Descricao" name="Descricao" value="" class="form-control" placeholder="Descricao" />
                        <label for="Descricao">Descrição</label>
                    </div>
                </div>
                <div class="col-1">
                    <br />
                    <button type="button" class="btn btn-success" onclick="Servico.novoGravar(formNovo)"><i class="fa fa-save"></i></button>
                    <button type="button" class="btn btn-primary" onclick="Servico.limpar()"><i class="fa fa-eraser"></i></button>
                </div>
            </div>

        </div>

    </div>
</div>
<br />
<div class="table-responsive" style="overflow: visible;">
    <table class="table table-striped table-hover table-sm dataTable" data-item-reload="true" id="tableDados">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width:10%">#</th>
                <th scope="col" style="width:30%">Nome</th>
                <th scope="col" style="width:50%">Descrição</th>
                <th scope="col" class="text-right" style="width:10%">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Lista)
            {
                <tr>
                    <td data-parent="id">
                        <div class="form-floating mb-3">
                            <input type="text" id="ServicoId" name="ServicoId" value="@item.ServicoId" class="form-control" placeholder="Id" readonly="readonly" />
                            <label for="ServicoId">Id</label>
                        </div>
                    </td>
                    <td data-parent="nome">
                        <div class="form-floating mb-3">
                            <input type="text" id="Nome" name="Nome" value="@item.Nome" class="form-control" placeholder="Nome" />
                            <label for="Nome">Nome</label>
                        </div>
                    </td>
                    <td data-parent="descricao">
                        <div class="form-floating mb-3">
                            <input type="text" id="Descricao" name="Descricao" value="@item.Descricao" class="form-control" placeholder="Descricao" />
                            <label for="Descricao">Descrição</label>
                        </div>
                    </td>
                    <td class="text-right">
                        <button type="button" class="btn btn-success" onclick="Servico.Edit('@item.ServicoId', '@item.Descricao','@item.Nome')"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger" onclick="Servico.Excluir('@item.ServicoId')"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/Views/Servico/main.js" defer></script>
}
