@using French.Erp.Application.DataObject;
@using System.Globalization
@model ModelBasic<UsuarioDto>

@{
    ViewData["Title"] = "Usuário";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewData["User"] = Model.Nome;
    ViewData["Role"] = Model.Role;
    ViewData["Admin"] = Model.Admin;
    var linha = 0;
}
<div class="text-center">
    <h3 class="display-4">Usuários</h3>
</div>
<div class="text-end">
    <button type="button" id="botaoNovo" name="botaoNovo" class="btn btn-outline-success" onclick="Banco.novo();"><i class="fa fa-file"></i>&nbsp;Novo Usuário</button>
</div>
<br />
<div class="form-floating d-nones" id="divNovo" name="divNovo">
    <div class="card">
        <div class="card-header bg-black text-white"><b>Novo Usuário</b></div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="form-floating mb-3" data-parent="nome">
                        <input type="text" id="Nome" name="Nome" value="" class="form-control" placeholder="Nome" />
                        <label for="Nome">Nome</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating mb-3" data-parent="login">
                        <input type="text" id="Login" name="Login" value="" class="form-control" placeholder="Login" />
                        <label for="Login">Login</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-floating mb-3" data-parent="email">
                        <input type="text" id="Email" name="Apelido" value="" class="form-control" placeholder="Email" />
                        <label for="Email">Email</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating mb-3" data-parent="documento">
                        <input type="text" id="Documento" name="Login" value="" class="form-control" placeholder="Documento" />
                        <label for="Documento">Documento</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="form-floating mb-3" data-parent="celular">
                        <input type="text" id="Celular" name="Login" value="" class="form-control" placeholder="Celular" />
                        <label for="Login">Celular</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating mb-3" data-parent="datanascimento">
                        <input type="date" id="DataNascimento" name="DataNascimento" value="" class="form-control" placeholder="" />
                        <label for="DataNascimento">Data Nascimento</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating mb-3" data-parent="datalogin">
                        <input type="datetime" id="DataLogin" name="DataLogin" value="" class="form-control" placeholder="" readonly="readonly" />
                        <label for="DataLogin">Data Login</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating mb-3">
                        <input type="datetime" id="ValidadeSenha" name="ValidadeSenha" value="" class="form-control" placeholder="" />
                        <label for="ValidadeSenha">Validade Senha</label>
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-floating mb-3" data-parent="ativo">
                        <select class="form-control form-select" id="Ativo" name="Ativo">
                            <option value="" selected="selected">Selecione</option>
                            <option value="1">Ativo</option>
                            <option value="0">Inativo</option>
                        </select>
                        <label for="Status">Ativo</label>
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-floating mb-3" data-parent="admin">
                        <select class="form-control form-select" id="Admin" name="Admin">
                            <option value="" selected="selected">Selecione</option>
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                        <label for="Status">Admin?</label>
                    </div>
                </div>
                <div class="col-1">
                    <div class="form-floating mb-3">
                        <input type="datetime" id="TentativasInvalidas" name="TentativasInvalidas" value="" class="form-control" placeholder="" />
                        <label for="ValidadeSenha">Ten.Inv.</label>
                    </div>
                </div>
                <div class="col-1">
                    <br />
                    <button type="button" id="botaoNovo" name="botaoNovo" class="btn btn-outline-success" onclick="Banco.novo();"><i class="fa fa-file"></i>&nbsp;Gravar</button>
                </div>
            </div>

        </div>

    </div>
</div>
<br />
<div class="table-responsive" style="overflow: visible;">
    <div class="accordion" id="accordionExample">
        @foreach (var item in Model.Lista)
        {
            linha++;
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne_@linha">
                    <button class="accordion-button bg-black text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@linha" aria-expanded="true" aria-controls="collapse_@linha">
                        <b>Usuário:</b>&nbsp;@item.Login &nbsp; &ndash; &nbsp;<b>Nome:</b>&nbsp;@item.Nome
                    </button>
                </h2>
                <div id="collapse_@linha" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-floating mb-3" data-parent="nome">
                                    <input type="text" id="Nome" name="Nome" value="@item.Nome" class="form-control" placeholder="Nome" />
                                    <label for="Nome">Nome</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-floating mb-3" data-parent="login">
                                    <input type="text" id="Login" name="Login" value="@item.Login" class="form-control" placeholder="Login" />
                                    <label for="Login">Login</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating mb-3" data-parent="email">
                                    <input type="text" id="Email" name="Apelido" value="@item.Email" class="form-control" placeholder="Email" />
                                    <label for="Email">Email</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-floating mb-3" data-parent="documento">
                                    <input type="text" id="Documento" name="Login" value="@item.Documento" class="form-control" placeholder="Documento" />
                                    <label for="Documento">Documento</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <div class="form-floating mb-3" data-parent="celular">
                                    <input type="text" id="Celular" name="Login" value="@item.Celular" class="form-control" placeholder="Celular" />
                                    <label for="Login">Celular</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-floating mb-3" data-parent="datanascimento">
                                    <input type="date" id="DataNascimento" name="DataNascimento" value="@item.DataNascimento.ToString()" class="form-control" placeholder="" />
                                    <label for="DataNascimento">Data Nascimento</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-floating mb-3" data-parent="datalogin">
                                    <input type="datetime" id="DataLogin" name="DataLogin" value="@item.DataLogin" class="form-control" placeholder="" readonly="readonly" />
                                    <label for="DataLogin">Data Login</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-floating mb-3">
                                    <input type="datetime" id="ValidadeSenha" name="ValidadeSenha" value="@item.ValidadeSenha" class="form-control" placeholder="" />
                                    <label for="ValidadeSenha">dValidade Senha</label>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="form-floating mb-3" data-parent="ativo" >
                                    <select class="form-control form-select" id="Ativo" name="Ativo">
                                        @if (@item.Ativo)
                                        {
                                            <option value="1" selected="selected">Ativo</option>
                                            <option value="0">Inativo</option>
                                        }
                                        else
                                        {
                                            <option value="1">Ativo</option>
                                            <option value="0" selected="selected">Inativo</option>
                                        }
                                    </select>
                                    <label for="Status">Ativo</label>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="form-floating mb-3" data-parent="admin">
                                    <select class="form-control form-select" id="Admin" name="Admin">
                                        @if (@item.Admin)
                                        {
                                            <option value="1" selected="selected">Sim</option>
                                            <option value="0">Não</option>
                                        }
                                        else
                                        {
                                            <option value="1">Sim</option>
                                            <option value="0" selected="selected">Não</option>
                                        }
                                    </select>
                                    <label for="Status">Admin?</label>
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="form-floating mb-3">
                                    <input type="datetime" id="TentativasInvalidas" name="TentativasInvalidas" value="@item.TentativasInvalidas" class="form-control" placeholder="" />
                                    <label for="ValidadeSenha">Ten.Inv.</label>
                                </div>
                            </div>
                            <div class="col-1">
                                <br />
                                <div class="btn-group dropstart">
                                    <button type="button" class="btn btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-star"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="Usuario.Novo();">
                                                <i class="fa fa-file"></i>&nbsp;Novo
                                            </a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="Usuario.Edit('@item.UsuarioId', '@item.Login', '@item.Nome', '@item.Email', '@item.Celular', '@item.Documento', '@item.TentativasInvalidas', '@item.DataLogin', '@item.DataCriacao', '@item.DataAtualizacao', '@item.ValidadeSenha', '@item.Ativo', '@item.Admin')">
                                                <i class="fa fa-pencil"></i>&nbsp;Editar
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="Usuario.Excluir('@item.UsuarioId')">
                                                <i class="fa fa-trash-o"></i>&nbsp;Excluir
                                            </a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="Usuario.ResetSenha('@item.UsuarioId', '@item.Login')">
                                                <i class="fa fa-user-secret"></i>&nbsp;Reset Senha
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="Usuario.Edit('@item.UsuarioId', '@item.Nome', '@item.Documento')">
                                                <i class="fa fa-user-plus"></i>&nbsp;Desbloquear
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#" onclick="Usuario.Edit('@item.UsuarioId', '@item.Nome', '@item.Documento')">
                                                <i class="fa fa-user-minus"></i>&nbsp;Bloquear
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>

</div>

@section scripts
{
    <script src="~/Views/Usuario/main.js" defer></script>
}
