<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - French System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/regular.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/v4-shims.css" />
    <link rel="stylesheet" href="~/lib/toastr.js/toastr.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" />
</head>
<body>
    <div class="modalLoading"></div>
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#" aria-label="Show sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">French ERP</a>
                    <div id="close-sidebar" aria-label="Close sidebar">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <i class="fa fa-3x fa-user-circle"></i>
                    </div>
                    <div class="user-info">
                        <span class="user-name">@ViewData["User"]</span>
                        <span class="user-role">@ViewData["Role"]</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Sistema</span>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-address-book"></i>
                                <span>CRM</span>
                                <span class="badge bg-warning">New</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="Cliente" asp-action="Index">
                                            Cliente<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Lead" asp-action="Index">
                                            Leads<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-brazilian-real-sign"></i>
                                <span>Faturamento</span>
                                <span class="badge bg-warning">New</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="Faturamento" asp-action="Index">
                                            Faturamento<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Lead" asp-action="Index">
                                            Notas Fiscais<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Lead" asp-action="Index">
                                            Arquivos NFs<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-square-pen"></i>
                                <span>Lançamentos</span>
                                <span class="badge bg-warning">New</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="Tarefa" asp-action="Index">
                                            Tarefas/Trabalhos<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Lead" asp-action="Index">
                                            Notas Fiscais<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-keyboard"></i>
                                <span>Cadastros</span>
                                <span class="badge bg-warning">New</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="Banco" asp-action="Index">
                                            Bancos<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Servico" asp-action="Index">
                                            Serviços<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="StatusNotaFiscal" asp-action="Index">
                                            Status Nota Fiscal<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="TipoDeCliente" asp-action="Index">
                                            Tipo de Cliente<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="TipoDePessoa" asp-action="Index">
                                            Tipo de Pessoa<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Tributo" asp-action="Index">
                                            Tributos<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="TributoNotaFiscal" asp-action="Index">
                                            Tributo Nota Fiscal<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>&nbsp;</li>
                                    <!--Feriados-->
                                    <li>
                                        <a asp-area="" asp-controller="Feriado" asp-action="Index">
                                            Feriados - Todos<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Feriado" asp-action="Fixos">
                                            Feriados - Fixos<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Feriado" asp-action="Moveis">
                                            Feriados - Móveis<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Feriado" asp-action="Locais">
                                            Feriados - Locais<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <!-- Continue com os outros itens do menu -->
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-user-group"></i>
                                <span>Administrativo</span>
                                <span class="badge bg-warning">New</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="Usuario" asp-action="Index">
                                            Usuários<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Usuario" asp-action="UserData">
                                            Seus Dados<span class="badge bg-success">Pro</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge bg-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge bg-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>
        </nav>
        <main class="page-content" role="main">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
    </div>    
    <!-- page-wrapper -->

@*     <footer class="border-top footer mt-auto text-muted">
        <div class="">
            &copy; @DateTime.Now.Year - French Web / Dietcode
        </div>
    </footer>
 *@
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js" defer></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    <script type="text/javascript" src="~/lib/font-awesome/js/all.min.js" defer></script>
    <script type="text/javascript" src="~/lib/font-awesome/js/v4-shims.js" defer></script>
    <script type="text/javascript" src="~/lib/font-awesome/js/fontawesome.min.js" defer></script>
    <script type="text/javascript" src="~/lib/toastr.js/toastr.min.js" defer></script>
    <script type="text/javascript" src="~/js/toastr-configuracao.js" defer></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true" defer></script>
    <script type="text/javascript" src="~/js/ajax.js" asp-append-version="true" defer></script>
    <script type="text/javascript" src="~/js/mensagens.js" asp-append-version="true" defer></script>
    <script type="text/javascript" src="~/js/util.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
