@using French.Erp.Application.DataObject;
@model ModelBasic<BancoDto>
@{
    ViewData["Title"] = "Bancos";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewData["User"] = Model.Nome;
    ViewData["Admin"] = Model.Admin;
    ViewData["Role"] = Model.Role;
}
<div class="text-center">
    <h3 class="display-4">Bancos</h3>
</div>
<div class="text-end">
    <button type="button" id="botaoNovo" name="botaoNovo" class="btn btn-outline-success" onclick="Banco.novo();"><i class="fa fa-file"></i>&nbsp;Novo Banco</button>
</div>
<br />
<div class="form-floating d-none shadow-lg" id="divNovo" name="divNovo">
    <div class="card">
        <div class="card-header bg-black text-white"><b>Novo Banco</b></div>
        <div class="card-body">
            <div class="row" id="formNovo">
                <div class="col-1">
                    <div class="form-floating mb-3" data-parent="codigo">
                        <input type="hidden" id="BancoId" name="BancoId" value="" />
                        <input type="text" id="Codigo" name="Codigo" value="" class="form-control" placeholder="Codigo" />
                        <label for="Codigo">Codigo</label>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-floating mb-3" data-parent="apelido">
                        <input type="text" id="Apelido" name="Apelido" value="" class="form-control" placeholder="Apelido" />
                        <label for="Apelido">Apelido</label>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-floating mb-3" data-parent="nome">
                        <input type="text" id="Nome" name="Nome" value="" class="form-control" placeholder="Nome" />
                        <label for="Nome">Nome</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating mb-3" data-parent="status">
                        <select class="form-control form-select" id="Status" name="Status">
                            <option value="">Selecione o Status</option>
                            <option value="1">Ativo</option>
                            <option value="0">Inativo</option>
                        </select>
                        <label for="Status">Status</label>
                    </div>
                </div>
                <div class="col-1">
                    <br />
                    <button type="button" class="btn btn-success" onclick="Banco.novoGravar(formNovo)"><i class="fa fa-save"></i></button>
                    <button type="button" class="btn btn-primary" onclick="Banco.limpar()"><i class="fa fa-eraser"></i></button>
                </div>
            </div>

        </div>

    </div>
</div>
<br />
<div style="overflow: visible;">
    <table class="table table-striped table-hover table-responsive-xxl dataTable" data-item-reload="true" id="tableDados">
        <thead>
            <tr class="table-dark">
                <th scope="col" style="width:5%">#</th>
                <th scope="col" style="width:10%">Código</th>
                <th scope="col" style="width:20%">Apelido</th>
                <th scope="col" style="width:45%">Nome</th>
                <th scope="col" style="width:10%">Status</th>
                <th scope="col" class="text-right" style="width:10%">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Lista)
            {
                <tr scope="row">
                    <td data-parent="id">
                        <div class="form-floating mb-3">
                            <input type="text" id="BancoId" name="BancoId" value="@item.BancoId" class="form-control" placeholder="Id" readonly="readonly" />
                            <label for="BancoId">Id</label>
                        </div>
                    </td>
                    <td data-parent="codigo">
                        <div class="form-floating mb-3">
                            <input type="text" id="Codigo" name="Codigo" value="@item.Codigo" class="form-control" placeholder="Codigo" />
                            <label for="Codigo">Codigo</label>
                        </div>
                    </td>
                    <td data-parent="apelido">
                        <div class="form-floating mb-3">
                            <input type="text" id="Apelido" name="Apelido" value="@item.Apelido" class="form-control" placeholder="Apelido" />
                            <label for="Apelido">Apelido</label>
                        </div>
                    </td>
                    <td data-parent="nome">
                        <div class="form-floating mb-3">
                            <input type="text" id="Nome" name="Nome" value="@item.Nome" class="form-control" placeholder="Nome" />
                            <label for="Nome">Nome</label>
                        </div>
                    </td>
                    <td data-parent="status">
                        <div class="form-floating mb-3" data-parent="status">
                            <select class="form-control form-select" id="Status" name="Status">
                                @if (item.Status)
                                {
                                    <option value="">Selecione o Status</option>
                                    <option value="1" selected="selected">Ativo</option>
                                    <option value="0">Inativo</option>
                                }
                                else
                                {
                                    <option value="">Selecione o Status</option>
                                    <option value="1">Ativo</option>
                                    <option value="0" selected="selected">Inativo</option>
                                }
                            </select>
                            <label for="Status">Status</label>
                        </div>
                    </td>
                    <td class="text-right">
                        <button type="button" class="btn btn-success" onclick="Banco.gravar(this)"><i class="fa fa-save"></i></button>
                        <button type="button" class="btn btn-danger" onclick="Banco.excluir('@item.BancoId')"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

@section scripts
{
    <script src="~/Views/Banco/main.js" defer></script>
}
