@    using French.Erp.Application.ViewModel;
@    using Dietcode.Core.Lib;
    using French.Erp.Application.DataObject;
@model ModelBasic<TarefaDto>
@{
    ViewData["Title"] = "Tarefa";
    ViewData["User"] = Model.Nome;
    ViewData["Role"] = Model.Role;
    ViewData["Admin"] = Model.Admin;
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    var clienteId = (int)Model.Valor1;
    var linha = 0;

}
<div class="text-center">
    <h3 class="display-4">Tarefa</h3>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-8 col-sm-8 col-xl-8 col-md-8 col-lg-8">
                <label id="labelCliente" for="Cliente" class="col-form-label">Cliente</label>
                <select id="Cliente" name="Cliente" asp-items="Model.Seletores.Seletor1" class="selectpicker show-tick form-control" data-width="100%" data-header="Escolha" data-done-button="true" data-live-search="false">
                    <option value="0">Todos os Clientes</option>
                </select>
                <input type="hidden" value="@clienteId" id="ClienteId" name="ClienteId" />
            </div>
            <div class="col-2 col-sm-2 col-xl-2 col-md-2 col-lg-2">&nbsp;</div>
            <div class="col-2 col-sm-2 col-xl-2 col-md-2 col-lg-2">
                &nbsp;<br />
                <button type="button" class="btn btn-success" onclick="Tarefa.Novo();"><i class="fa fa-file"></i>&nbsp;Novo</button>
            </div>
        </div>
    </div>
</div>
<br />
<div class="table-responsive" style="overflow: visible;">
    <div class="accordion" id="accordionExample">
        @foreach (var item in Model.Lista)
        {
            linha++;
            <div class="card">
                <div class="card-header" id="headingOne_@linha">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse_@linha" aria-expanded="true" aria-controls="collapse_@linha">
                            @item.Nome
                            @if (item.TarefaItem.Count > 0)
                            {
                                <span class="badge badge-info">@item.TarefaItem.Count Itens </span>
                            }
                        </button>
                    </h2>
                </div>

                <div id="collapse_@linha" class="collapse" aria-labelledby="headingOne_@linha" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-striped table-hover table-sm dataTable" data-item-reload="true" id="tableDados">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" colspan="6" class="bg-danger">Valores</th>
                                    <th scope="col" colspan="2" class="bg-secondary">Horas</th>
                                    <th scope="col" colspan="2" class="bg-primary">Datas</th>
                                    <th scope="col" class="text-right" rowspan="2">Ações</th>
                                </tr>
                                <tr>
                                    <th scope="col" style="width:11%">Orçado</th>
                                    <th scope="col" style="width:11%">Bruto</th>
                                    <th scope="col" style="width:10%">Desconto</th>
                                    <th scope="col" style="width:11%">Cobrado</th>
                                    <th scope="col" style="width:10%">Comissão</th>
                                    <th scope="col" style="width:10%">Desconto</th>
                                    <th scope="col" style="width:10%">Total</th>
                                    <th scope="col" style="width:10%">Valor</th>
                                    <th scope="col" style="width:10%">Início</th>
                                    <th scope="col" style="width:10%">Fim</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@item.ValorOrcado.ToMoeda()</td>
                                    <td>@item.ValorBruto.ToMoeda()</td>
                                    <td>@item.ValorDesconto.ToMoeda()</td>
                                    <td>@item.ValorCobrado.ToMoeda()</td>
                                    <td>@item.Comissao.ToMoeda()</td>
                                    <td>@item.ValorDesconto.ToMoeda()</td>
                                    <td>@item.TotalHoras</td>
                                    <td>@item.ValorHora.ToMoeda()</td>
                                    <td>@item.DataInicio.ToDateFormated()</td>
                                    <td>@item.DataFim.ToDateFormated()</td>
                                    <td class="text-right">
                                        <div class="btn-group dropleft">
                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-star"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-controller="Tarefa" asp-action="Edit" asp-route-id="0"><i class="fa fa-file"></i>&nbsp;Novo</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" asp-controller="Tarefa" asp-action="Edit" asp-route-id="@item.TarefaId"><i class="fa fa-pencil"></i>&nbsp;Editar </a>
                                                <a class="dropdown-item" href="#" onclick="Tarefa.Excluir('@item.TarefaId')"><i class="fa fa-trash-o"></i>&nbsp;Excluir</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#" onclick="Tarefa.Excluir('@item.TarefaId')"><i class="fa fa-inbox"></i>&nbsp;Ver/Editar Itens</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@section scripts
{
    <script src="~/Views/Generics/main.js"></script>
    <script src="~/Views/Tarefa/main.js"></script>
}
